@page "/login-user"
@using apec4_sledManagement.Library
@using apec4_sledManagement.Library.Models

@rendermode InteractiveServer
@inject SledManagementRepo ManagementRepo

<h3>Login User</h3>

<EditForm FormName="loginForm" Model="LoginModel" OnValidSubmit="ValidUserSubmit">
    <DataAnnotationsValidator/>
    <div>
        <label>Username:</label>
        <InputText @bind-Value="LoginModel.Username"></InputText>
        <ValidationMessage For="@(() => LoginModel.Username)"></ValidationMessage>
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="LoginModel.Password"></InputText>
        <ValidationMessage For="@(() => LoginModel.Password)"></ValidationMessage>
    </div>

    <button type="submit">Login</button>
</EditForm>

@code {
    private InputModel LoginModel { get; set; }

    protected override Task OnInitializedAsync()
    {
        LoginModel = new();
        return base.OnInitializedAsync();
    }

    public void ValidUserSubmit()
    {
        var result = ManagementRepo.LoginUser(LoginModel.Username, LoginModel.Password);
        if(!result){
            // did not work
        }

        // TODO: if admin, navigate to list of sleds
        // TODO: if user, navigate to reservation of sled
    }

    sealed class InputModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
