@page "/login-user"
@using apec4_sledManagement.Library
@using apec4_sledManagement.Library.Models

@rendermode InteractiveServer
@inject SledManagementRepo ManagementRepo

<h3>Login User</h3>
<br />

<EditForm FormName="loginForm" Model="LoginModel" OnValidSubmit="ValidUserSubmit" style="margin-left:10%; margin-right:10%;">
    <DataAnnotationsValidator />

    <div class="form-floating mb-3">
        <InputText @bind-Value="LoginModel.Username" class="form-control" autocomplete="username" aria-required="true"></InputText>
        <label for="username">Username:</label>
        <ValidationMessage For="@(() => LoginModel.Username)" class="text-danger"></ValidationMessage>
    </div>
    <div class="form-floating mb-3">
        <InputText type="password" @bind-Value="LoginModel.Password" class="form-control" autocomplete="password" aria-required="true"></InputText>
        <label for="password">Password:</label>
        <ValidationMessage For="@(() => LoginModel.Password)" class="text-danger"></ValidationMessage>
    </div>

    @if (!Successful)
    {
        <div class="alert alert-danger">@Message</div>
    }

    <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
</EditForm>

@code {
    private InputModel LoginModel { get; set; }
    private bool Successful { get; set; }
    private string Message { get; set; }

    protected override void OnInitialized()
    {
        Successful = true;
        Message = "";
        LoginModel = new();
    }

    public void ValidUserSubmit()
    {
        var result = ManagementRepo.LoginUser(LoginModel.Username, LoginModel.Password);
        if (!result)
        {
            Successful = false;
            Message = "Error: Login not successfull.";
            return;
        }

        // TODO: if admin, navigate to list of sleds
        // TODO: if user, navigate to reservation of sled
    }

    // used for edit form
    private sealed class InputModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
