@page "/login-user"
@using apec4_sledManagement.Library
@using apec4_sledManagement.Library.Models
@using apec4_sledManagement.Library.TransferOfDataModels

@rendermode InteractiveServer
@inject SledManagementRepo ManagementRepo
@inject NavigationManager NavigationManager

<h3>Login User</h3>
<br />

<EditForm FormName="loginForm" Model="LoginModel" OnValidSubmit="ValidUserSubmit" style="margin-left:10%; margin-right:10%;">
    <DataAnnotationsValidator />

    <div class="form-floating mb-3">
        <InputText @bind-Value="LoginModel.Username" class="form-control" autocomplete="username" aria-required="true"></InputText>
        <label for="username">Username:</label>
        <ValidationMessage For="@(() => LoginModel.Username)" class="text-danger"></ValidationMessage>
    </div>
    <div class="form-floating mb-3">
        <InputText type="password" @bind-Value="LoginModel.Password" class="form-control" autocomplete="password" aria-required="true"></InputText>
        <label for="password">Password:</label>
        <ValidationMessage For="@(() => LoginModel.Password)" class="text-danger"></ValidationMessage>
    </div>

    @if (!Result.Successful)
    {
        <div class="alert alert-danger">@Result.Message</div>
    }

    <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
</EditForm>

@code {
    private InputModel LoginModel { get; set; }
    private RepoResult Result { get; set; }

    protected override void OnInitialized()
    {
        Result = new() { Successful = true };
        LoginModel = new();
    }

    public void ValidUserSubmit()
    {
        Result = ManagementRepo.CanUserLogin(LoginModel.Username, LoginModel.Password);
        if (!Result.Successful)
        {
            LoginModel = new();
            return;
        }

        // when login works navigate to home
        NavigationManager.NavigateTo("/", false);

        // TODO: if admin, navigate to list of sleds
        // TODO: if user, navigate to reservation of sled
    }

    // used for edit form
    private sealed class InputModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
